<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="VoiceSoft" value="0" />
		<add key="YakitoriPath" value="" />
		<add key="FaceFXPath" value="" />
		<add key="BatchOutputPath" value="" />
		<add key="IsShowMessageBox" value="false" />
		<add key="IsUseBatchOutput" value="false" />
		<add key="VoiceParam" value="1,0,1,1" />
		<add key="CheckboxOnlyMoji" value="false" />
		<add key="CheckboxBatch" value="false" />
		<add key="CheckboxReadDic" value="false" />
		<add key="VoicevoxPath" value="" />
		<add key="CoeiroinkPath" value="" />
		<add key="IsSkipMode" value="false" />
	</appSettings>
</configuration>